<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905440299523-tc1tcibqas9dg94kghtk6otl028dsg88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905440299523-tc1tcibqas9dg94kghtk6otl028dsg88</string>
	<key>API_KEY</key>
	<string>AIzaSyBfc2_Iy72QjXnY07NQLMbg-psQ45rz5LY</string>
	<key>GCM_SENDER_ID</key>
	<string>905440299523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Vinner.VinnerAirSense</string>
	<key>PROJECT_ID</key>
	<string>vin-air-sense</string>
	<key>STORAGE_BUCKET</key>
	<string>vin-air-sense.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905440299523:ios:34474737533cb6a0d3dc36</string>
</dict>
</plist>